# Ignore build outputs and local files
bin/
obj/
.vs/
.user
*.user
*.suo
*.log
node_modules/
.git/

# NuGet packages
**/packages/*

# Dockerfile-related
Dockerfile*
bin/
obj/
*.db
*.db-shm
*.db-wal
.vs/
.git/
*.user
**/node_modules/
**/bin/
**/obj/
*.suo
*.userosscache

# Logs
*.log

