@inherits LayoutComponentBase

<div class="main-layout">
    
    <header class="topbar">
        <h1>SafeBoda Admin</h1>
        <nav>
            <a href="">Home</a>
            <a href="register">Register</a>
            <a href="login">Login</a>
            <a href="dashboard">Dashboard</a>
            <a href="drivers">Drivers</a>
            <a href="riders">Riders</a>
            <a href="trips">Trips</a>
        </nav>
    </header>
    <div>

        <main class="content">
            @Body
        </main>
    </div>
</div>