name: CI/CD Pipeline - SafeBoda API

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'


      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release --no-restore


      - name: Run tests
        run: dotnet test --no-build --verbosity normal

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./SafeBoda.Api/Dockerfile
          push: true
          tags: |
            ghcr.io/pelino-courses/module-7-safeboda-containerize-and-deploy-the-api-nadine16uwitonze/safeboda-api:latest
            ghcr.io/pelino-courses/module-7-safeboda-containerize-and-deploy-the-api-nadine16uwitonze/safeboda-api:${{ github.sha }}
